#########################################
#
# StreamConsumer config
#
# Required:
#
# stream_url
# reconnect (true/false)
# num_consumer_threads
# num_producer_threads
# records_per_batch
# min_batch_seconds
#
# Optional:
#
# stream_params:
#   <param_name>: <value>
# reconnect_interval
# reconnect_attempts
# signal_prefixes
# date_prefix
# date_format
#
# kafka:
#   topic_name
#   client_id
#   brokers:
#     hostname
#     port
#
# database:
#   encoding
#   database
#   username
#   password
#   host
#   port
#
#########################################

stream_url: https://stream.twitter.com/1.1/statuses/sample.json
reconnect: false

num_consumer_threads: 1

num_producer_threads: 1
records_per_batch: 100
min_batch_seconds: 20

stream_params:
  stall_warnings: true

signal_prefixes:
  - '{"warning":'
  - '{"disconnect":'
date_prefix: '{"created_at":"'
date_format: Sat Jan 11 00:19:26 +0000 2014

kafka:
  topic_name: stream_consumer_test
  client_id: stream_consumer_rspec
  brokers:
  - hostname: fenway.corp.adobe.com
    port: 9092
  - hostname: wrigley.corp.adobe.com
    port: 9092
  - hostname: candlestick.corp.adobe.com
    port: 9092

database:
  encoding: utf8
  database: <database>
  username: <username>
  password: <password>
  host: localhost
  port: 3306
